<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Schrodinger</title>
    <link href="../static/css/beautiful_page.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
</head>
<body>

<header class="menu-container">
    <div class="menu-page-chapters">
        <nav>
            <ul>
                <li><a href="#Experience">Experience</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#Me">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-icon-container">
        <a class="menu-icon" href="#">
            <i aria-hidden="true" class="fa fa-telegram"></i>
        </a>
        <a class="menu-icon" href="#">
            <i aria-hidden="true" class="fa fa-github"></i>
        </a>
        <a class="menu-icon" href="#">
            <i aria-hidden="true" class="fa fa-instagram"></i>
        </a>
    </div>
</header>

<div class="main-block-container">

    <div class="main-block-background-image">
        <h1>Schrodinger Grigorii</h1>
        <p>Специалист по автоматизации всего и вся</p>
    </div>

    <div class="specialization">
        <h3>QA AUTO</h3>
    </div>

</div>

<div class="delimiter-container">
    <div class="delimiter">
        <h2>ABOUT</h2>
    </div>
</div>

<div class="about-me-container">
    <div class="about-me-progress-bar-container">
        <div class="about-me-common-block-name">
            <p>HARD SKILLS</p>
        </div>
        <div class="about-me-common-block-name-name-skills">
            <p>PYTHON</p>
            <progress class="progress" max="100" value="83">83%</progress>
        </div>
        <div class="about-me-common-block-name-name-skills">
            <p>APPIUM</p>
            <progress class="progress" max="100" value="80">80%</progress>
        </div>
        <div class="about-me-common-block-name-name-skills">
            <p>SELENIUM</p>
            <progress class="progress" max="100" value="60">60%</progress>
        </div>
    </div>

    <div class="about-me-progress-bar-container">
        <div class="about-me-common-block-name">
            <p>SOFT SKILLS</p>
        </div>
        <div class="about-me-common-block-name-name-skills">
            <p>SOCIABILITY</p>
            <progress class="progress" max="100" value="100">100%</progress>
        </div>
        <div class="about-me-common-block-name-name-skills">
            <p>SELF-SUPPORT</p>
            <progress class="progress" max="100" value="75">75%</progress>
        </div>
        <div class="about-me-common-block-name-name-skills">
            <p>PROACTIVITY</p>
            <progress class="progress" max="100" value="85">85%</progress>
        </div>
    </div>

<!--    <div class="brief-information-text">-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я молодой и целеустремленный профессионал в области маркетинга с опытом работы в различных-->
<!--                компаниях.-->
<!--                Мои сильные стороны - это коммуникабельность, организационные способности и стремление к достижению-->
<!--                результатов. Я умею работать в команде и в одиночку, быстро обучаюсь и готов изучать новые области.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я постоянно работаю над улучшением своих навыков и знаний, поэтому являюсь сертифицированным-->
<!--                специалистом в области контекстной рекламы Google AdWords и имею опыт работы с социальными сетями и-->
<!--                email-маркетингом.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Моя главная цель в работе - создание эффективных маркетинговых стратегий, которые будут помогать-->
<!--                компании достигать своих целей и расти. Я убежден, что качественный маркетинг может дать компании-->
<!--                существенное преимущество на рынке и увеличить ее прибыль.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я готов работать в команде высококвалифицированных специалистов и делиться своим опытом. Я стремлюсь-->
<!--                к-->
<!--                развитию своих профессиональных навыков и готов к новым вызовам и возможностям.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="brief-information">-->
<!--    <div class="brief-information-text">-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я молодой и целеустремленный профессионал в области маркетинга с опытом работы в различных-->
<!--                компаниях.-->
<!--                Мои сильные стороны - это коммуникабельность, организационные способности и стремление к достижению-->
<!--                результатов. Я умею работать в команде и в одиночку, быстро обучаюсь и готов изучать новые области.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я постоянно работаю над улучшением своих навыков и знаний, поэтому являюсь сертифицированным-->
<!--                специалистом в области контекстной рекламы Google AdWords и имею опыт работы с социальными сетями и-->
<!--                email-маркетингом.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Моя главная цель в работе - создание эффективных маркетинговых стратегий, которые будут помогать-->
<!--                компании достигать своих целей и расти. Я убежден, что качественный маркетинг может дать компании-->
<!--                существенное преимущество на рынке и увеличить ее прибыль.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я готов работать в команде высококвалифицированных специалистов и делиться своим опытом. Я стремлюсь-->
<!--                к-->
<!--                развитию своих профессиональных навыков и готов к новым вызовам и возможностям.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="progress-bar">-->
<!--        <div class="information-block-name">-->
<!--            <p>HARD SKILLS</p>-->
<!--        </div>-->
<!--        <div class="text-progress-bar">-->
<!--            <p>PYTHON</p>-->
<!--            <progress class="progress" max="100" value="83">83%</progress>-->
<!--        </div>-->
<!--        <div class="text-progress-bar">-->
<!--            <p>APPIUM</p>-->
<!--            <progress class="progress" max="100" value="80">80%</progress>-->
<!--        </div>-->
<!--        <div class="text-progress-bar">-->
<!--            <p>SELENIUM</p>-->
<!--            <progress class="progress" max="100" value="60">60%</progress>-->
<!--        </div>-->

<!--        <div class="information-block-name" style="margin-top: 15px">-->
<!--            <p>SOFT SKILLS</p>-->
<!--        </div>-->

<!--        <div class="text-progress-bar">-->
<!--            <p>SOCIABILITY</p>-->
<!--            <progress class="progress" max="100" value="100">100%</progress>-->
<!--        </div>-->
<!--        <div class="text-progress-bar">-->
<!--            <p>SELF-SUPPORT</p>-->
<!--            <progress class="progress" max="100" value="75">75%</progress>-->
<!--        </div>-->
<!--        <div class="text-progress-bar">-->
<!--            <p>PROACTIVITY</p>-->
<!--            <progress class="progress" max="100" value="85">85%</progress>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="delimiter-container">-->
<!--    <div class="delimiter">-->
<!--        <h2>ABOUT</h2>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="experience-information">-->
<!--    <div class="brief-information-text">-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я молодой и целеустремленный профессионал в области маркетинга с опытом работы в различных-->
<!--                компаниях.-->
<!--                Мои сильные стороны - это коммуникабельность, организационные способности и стремление к достижению-->
<!--                результатов. Я умею работать в команде и в одиночку, быстро обучаюсь и готов изучать новые области.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я постоянно работаю над улучшением своих навыков и знаний, поэтому являюсь сертифицированным-->
<!--                специалистом в области контекстной рекламы Google AdWords и имею опыт работы с социальными сетями и-->
<!--                email-маркетингом.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Моя главная цель в работе - создание эффективных маркетинговых стратегий, которые будут помогать-->
<!--                компании достигать своих целей и расти. Я убежден, что качественный маркетинг может дать компании-->
<!--                существенное преимущество на рынке и увеличить ее прибыль.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="body-text">-->
<!--            <p>-->
<!--                Я готов работать в команде высококвалифицированных специалистов и делиться своим опытом. Я стремлюсь-->
<!--                к-->
<!--                развитию своих профессиональных навыков и готов к новым вызовам и возможностям.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
<script>
    window.addEventListener('scroll', function() {
        var menu = document.querySelector('.menu-container');
        var windowHeight = window.innerHeight;
        var bodyHeight = document.body.clientHeight;
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop + windowHeight >= bodyHeight) {
            menu.classList.add('hide');
        } else {
            menu.classList.remove('hide');
        }
    });

</script>
</html>
