<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Schrodinger</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <div class="left-side">
<!--        <img alt="xyu" class="logo" src="../static/image/logo.png">-->
    </div>
    <div class="right-side">
        <div class="title-side">
            <h1>Schrodinger Grigorii</h1>
        </div>
    </div>
</div>
<footer>
    <address>XYU</address>
</footer>
</body>
</html>
