<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Schrodinger</title>
    <link href="../static/css/index.css" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
</head>
<body>

<header class="menu-container">
    <div class="menu-page-chapters"> 
        <nav>
            <ul>
                <li><a href="#Experience">Experience</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#Me">About</a></li>
            </ul>
        </nav>
    </div>
    <div class="menu-icon-container">
        <a class="menu-icon" href="#">
            <i aria-hidden="true" class="fa fa-telegram"></i>
        </a>
        <a class="menu-icon" href="#">
            <i aria-hidden="true" class="fa fa-github"></i>
        </a>
        <a class="menu-icon" href="#">
            <i aria-hidden="true" class="fa fa-instagram"></i>
        </a>
    </div>
</header>

<div class="main-block-container">

    <div class="main-block-background-image">
        <h1>Schrodinger Grigorii</h1>
        <p>Специалист по автоматизации всего и вся</p>
    </div>

    <div class="specialization">
        <h3>QA AUTO</h3>
    </div>

</div>

<div class="delimiter-container">
    <div class="delimiter">
        <h2>ABOUT</h2>
    </div>
</div>

<div class="about-me-container">
    <div class="about-me-card-container">
        <div class="about-me-card">
            <div class="about-me-common-block-name">
                <p>HARD SKILLS</p>
            </div>
            <div class="about-me-common-block-name-name-skills">
                <p>PYTHON</p>
                <progress class="progress" max="100" value="83">83%</progress>
            </div>
            <div class="about-me-common-block-name-name-skills">
                <p>APPIUM</p>
                <progress class="progress" max="100" value="80">80%</progress>
            </div>
            <div class="about-me-common-block-name-name-skills">
                <p>SELENIUM</p>
                <progress class="progress" max="100" value="60">60%</progress>
            </div>
        </div>

        <div class="about-me-card">
            <div class="about-me-common-block-name">
                <p>SOFT SKILLS</p>
            </div>
            <div class="about-me-common-block-name-name-skills">
                <p>SOCIABILITY</p>
                <progress class="progress" max="100" value="100">100%</progress>
            </div>
            <div class="about-me-common-block-name-name-skills">
                <p>INDEPENDENCE</p>
                <progress class="progress" max="100" value="75">75%</progress>
            </div>
            <div class="about-me-common-block-name-name-skills">
                <p>PROACTIVITY</p>
                <progress class="progress" max="100" value="85">85%</progress>
            </div>
        </div>
    </div>
    <div class="about-me-card">
        <div class="brief-information-text">
            <div class="body-text">
                <p>
                    Я специализируюсь в обеспечении качества мобильных приложений. Мои основные обязанности включают
                    оптимизацию процессов тестирования, разработку стендов и написание автотестов для мобильных
                    приложений. Благодаря этому удалось значительно сократить время, затрачиваемое на регрессионное
                    тестирование. Еще из интересного, я имею опыт написания нагрузочных тестов на JavaScript.
                </p>
            </div>
            <div class="body-text">
                <p>
                    В настоящее время я нахожусь в стадии активного развития и стремлюсь стать опытным AQA.
                    Постоянно изучаю технологии, связанные с автоматизацией и смежными областями.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="delimiter-container">
    <div class="delimiter">
        <h2>EXPERIENCE</h2>
    </div>
</div>

<div style="position: relative">
    <div class="experience-card">
        <div>
            <h1>Cyberborea</h1>
            <p style="width: 50%; color: rgba(255,255,255,0.45)">- Компания занимающийся разработкой мобильных приложении, а в частности мессанджера “Slovo”,
                защищенного по всем стандартам гост.</p>
        </div>
        <div>
            <p>Июль 2021 — по настоящее время,</p>
            <p style="color: rgba(255,255,255,0.45)"> 1 год 10 месяцев</p>
        </div>
    </div>

    <div class="vertical-line">
    </div>

    <div class="experience-card">
        <div class="content">
            <div class="paragraph">
                <p>Обязанности</p>
            </div>
            <div class="body-text">
                <ul>
                    <li>Ручное тестирование мобильных приложений.</li>
                    <li>Ведение документации по тестированию.</li>
                    <li>Оптимизация процессов тестирования.</li>
                    <li>Написание отчетов по итогам спринта.</li>
                    <li>Администрирование youtrack.</li>
                    <li>Руководство и обучение двух тестировщиков.</li>
                    <li>Разработка Monkey теста.</li>
                    <li>Разработка подпроекта по автодеплую.</li>
                    <li>Разработка стенда для автоматизации тестирования.</li>
                    <li>Написание UI автотестов на фраймфорке appium.</li>
                    <li>Написание автотестов по REST-api тестированию.</li>
                    <li>Написание нагрузочных тестов для k6.</li>
                </ul>
            </div>
            <div class="paragraph">
                <p>Достижения</p>
            </div>
            <div class="body-text">
                <ul>
                    <li>Разработал стенд для автоматических тестов, который значительно упростил использование
                        автотестов.
                        Благодаря этому стенду тесты были распределены на несколько машин, что позволило параллельно
                        запускать тесты и сократить время тестирования с 9 часов до 30 минут.
                    </li>
                    <li>Создал на Python систему автоматического деплоя, похожую на Docker Compose, но
                        кастомизированную.
                        Это позволило новому разработчику установить и запустить все необходимое окружение за несколько
                        команд в терминале.
                    </li>
                    <li>Провел множество нагрузочных тестов с помощью k6, которые помогли определить пределы бэкэнда и
                        выявить критические моменты в его работе.
                    </li>
                    <li>Создавал тест-планы для каждого релизного кандидата, оптимизируя процесс тестирования релизных
                        сборок.
                    </li>
                    <li>Разработал на Python Monkey Test, используя фреймворк Appium. Этот тест был абсолютно независим,
                        что
                        позволило его использование 24/7.
                    </li>
                    <li>Инициировал множество улучшений в UI/UX и функциональности.</li>
                    <li>Администрировал и настраивал YouTrack</li>
                    <li>Создал чек-листы на основе системы Mind-Map, полностью покрывающие приложение.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div style="position: relative">
    <div class="experience-card">
        <div>
            <h1>Quins</h1>
            <p style="width: 50%; color: rgba(255,255,255,0.45)">- Компания занимающийся разработкой корпоративных
                сайтов, лендингов, интернет-магазинов, мобильных
                приложений.</p>
        </div>
        <div>
            <p>Декабрь 2020 — июнь 2021,</p>
            <p style="color: rgba(255,255,255,0.45)"> 7 месяцев</p>
        </div>
    </div>

    <div class="vertical-line">
    </div>

    <div class="experience-card">
        <div class="content">
            <div class="paragraph">
                <p>Обязанности</p>
            </div>
            <div class="body-text">
                <ul>
                    <li>Ручное тестирование мобильных приложений.</li>
                    <li>Выполнение ручного тестирования мобильного банка.</li>
                    <li>Создание детальных баг-репортов.</li>
                    <li>Проверка соответствия документации по приложению.</li>
                    <li>Написание тест-кейсов для приложения.</li>
                </ul>
            </div>
            <div class="paragraph">
                <p>Достижения</p>
            </div>
            <div class="body-text">
                <ul>
                    <li>Написал подробные тест-кейсы, которые покрывают большую часть приложения.</li>
                    <li>Создал баг-репорты, связанные с UX, которые помогли улучшить пользовательский опыт.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer>
  <div class="footer__content">
    <p>Контактный телефон: 8 (800) 555-55-55</p>
    <p>E-mail: example@mail.com</p>
    <ul class="social-links">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <p>© 2023 права не пробовал защищать.</p>
  </div>
</footer>
</body>
<script>
    window.addEventListener('scroll', function() {
        var menu = document.querySelector('.menu-container');
        var windowHeight = window.innerHeight;
        var bodyHeight = document.body.clientHeight;
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

        if (scrollTop + windowHeight >= bodyHeight) {
            menu.classList.add('hide');
        } else {
            menu.classList.remove('hide');
        }
    });

</script>
</html>
