@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    background-color: #000000;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
}

p {
    color: black;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.left-side {
  background-color: #000000;
  flex-basis: 25%;
}

/*.image-side {*/
/*    width: 100%;*/
/*    height: %;*/
/*}*/

.image-side img {
    border-radius: 50%;
    box-shadow: 0 0 0 1px;
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
}

.right-side {
  background-color: white;
  flex-basis: 75%;
    position: relative;
}

.name-side {
    width: 100%;
    height: 13%;
    background-color: #fab007;
    display: flex;
    justify-content: center;
}

.name-side h1 {
    margin: auto;
    font-size: 64px;
}

.area-of-work-side {
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
}

.area-of-work-side h1 {
    margin: auto;
    color: black;
}

.logo {
    width: 100%;
    height: 100%;
}


