@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300&family=Raleway:wght@100&display=swap');

/*---------------------------------------------------Общая Часть---------------------------------------------------*/
* {
    margin: 0;
}

body {
    background-color: #000000;
}

h1, h2, h3{
    font-family: 'Mulish', sans-serif;
}

p {
    font-family: 'Mulish', sans-serif;
}

ul {
    font-family: 'Mulish', sans-serif;
}

li {
    font-family: 'Mulish', sans-serif;

}

.wrapper {
    position: fixed;
    flex-direction: row-reverse;
}

.navigator-bar {
  background-color: #17191e;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}


nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
    border-radius: 50px;

}

nav a:hover {
  background-color: #191d21;
}


/*---------------------------------------------------ЛЕВАЯ СТОРОНА---------------------------------------------------*/



.left-side {
    background-color: #17191e;
    /*flex-basis: 28%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    width: 30%;
    height: 100vh;
    position: fixed; /* Добавляем position: fixed */
    top: 0;
    left: 0;
    z-index: 999; /* Добавляем z-index */
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Изменяем начальное положение контейнера */
}

.left-side.active {
    transform: translateX(0); /* Показываем контейнер */
}

.burger {
    z-index: 9999;
    position: fixed;
    right: 20px; /* Устанавливаем позицию бургера слева по центру */
    top: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
    transition: transform 0.3s ease-in-out; /* Добавляем плавный переход для линий бургера */
}

.burger.active span:first-child {
    transform: rotate(45deg) translate(6px, 6px); /* Поворачиваем первую линию бургера */
}

.burger.active span:nth-child(2) {
    opacity: 0; /* Скрываем вторую линию бургера */
}

.burger.active span:last-child {
    transform: rotate(-45deg) translate(6px, -6px); /* Поворачиваем последнюю линию бургера */
}

.image-container {
    width: 65%;
    margin: 15px auto 0;
    position: relative;
    display: inline-block;

}

.information-block-name {
    display: flex;
    width: 120px;
    border-radius: 50px;
    border: 2px solid #ffd54a;
    padding: 10px 20px;
    justify-content: center;
    margin: 50px auto 10px;
}

.information-block-name p {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.brief-information {
    display: flex;
    flex-direction: column;
}

.block-of-information {
    align-items: center;
    display: flex;
    margin-top: 15px;
}

.band-yellow-left {
    display: flex;
    width: 90px;
    height: 45px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ffd54a;
    align-items: center;
    justify-content: center;
}

.band-yellow-left-text {
    margin-left: 20px;
    color: white;
}

.band-yellow-left-text h1 {
    font-size: 20px;
}

.band-yellow-left-text p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.45)
}

.band-yellow-left i {
    font-size: 39px;
}


.brief-information li {
    color: white;
    font-size: 20px;
}

.avatar {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px rgb(9, 9, 9);
}

.progress-bar {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.progress-bar h1 {
    color: white;
    text-align: right;
    font-size: 20px;
}

.name-bar {
    margin-top: 50px;
}

.text-progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.text-progress-bar p {
    color: white;
    text-align: center;
}

progress {
  width: 220px;
  height: 24px;
  background: #2a2d32;
  border-radius: 8px;
    margin: 5px;

}

progress::-webkit-progress-bar {
  width: 220px;
  height: 24px;
  background: #2a2d32;
  border-radius: 8px;
}

progress::-webkit-progress-value {
  background: linear-gradient(
          113.96deg,
          #ffd54a 36.35%,
          #f5b74f 50.48%,
          #ec9c42 74.02%,
          #e87820 90.5%
  ),
  #ffd54a;
  width: 220px;
  height: 24px;
  border-radius: 8px;
}

.media {
    text-align: center;
    margin: 10px;
}

.icon {
    display: inline-block;
    margin: 10px;
    color: #ffffff;
    position: relative;
}

.icon i {
    font-size: 39px;
    transition: 0.3s linear;
}

.icon:hover i {
    transform: scale(1.3);
    color: #ffd54a;
}

/*---------------------------------------------------ПРАВАЯ СТОРОНА---------------------------------------------------*/

.right-side {
    height: 100vh;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.name-side {
    width: 100%;
    height: 13%;
    margin-top: 50px;
    background-color: #ffd54a;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 2px;
}

.name-side h1 {
    color: white;
    font-size: 64px;
}

.area-of-work-side {
    width: 100%;
    height: 13%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.area-of-work-side h1 {
    margin: auto;
    color: black;
}

.Harper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.band-yellow {
    width: 55%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 90px;
    background-color: #ffd54a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.band-yellow h1 {
    color: white;
    margin-left: 60px;
}

.band-black {
    margin-top: 60px;
    width: 38%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: #17191e;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    color: #020202;
    border-radius: 50%;
    font-size: 20px;
}

.band-black h1 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    flex: 1;
    color: white;
}

.body-text {
    /*margin: 13px;*/
}

.content {
    width: 80%;
    line-height: 1.7;
    margin-top: 15px;
    margin-left: 20px;
}

.content h1, h2 {
    margin-top: 10px;
    color: black;
}





